<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>페이지 레이아웃</title>
    <link rel="stylesheet" href="/stylesheets/myGrades.css">
    <script src="/javascripts/logOut.js"></script>
    <script src="/javascripts/myGrades.js"></script>
</head>
<body
    data-date="<%= date %>"
    data-score-filter="<%= scoreFilter %>"
    data-score-sort="<%= scoreSort %>"
    data-score-order="<%= scoreOrder %>"
    data-graduated-filter="<%= graduatedFilter %>"
    data-graduated-sort="<%= graduatedSort %>"
    data-graduated-order="<%= graduatedOrder %>"
    >
    <div class="container">
        <nav>
            <h1>내 학점 비서</h1>
            <ul id="top-nav">
                <li id="selected-nav-list"><a href="/myGrades">내 학점 목록</a></li>
                <li><a href="/myFriends">내 친구 목록</a></li>
            </ul>
            <ul id="bottom-nav">
                <li><a href="/accountSettings">계정 관리</a></li>
                <li><a onclick="logout()">로그아웃</a></li>
            </ul>
        </nav>
        <div class="content">
            <section id="my-score">
                <div class="content-title">
                    <div>
                        <button class="square-button" id="previous">목표 설정</button>
                        <button class="square-button" id="previous" onclick="navigateDate('previous')"><</button>
                        <span id="score-date" class="date" onclick="navigateCurrentDate()"></span><span id="score-filter" class="filter" onclick="navigateScoreFilter()"></span>
                        <button class="square-button" id="subsequent" onclick="navigateDate('next')">></button>
                        <a href="http://localhost:3000/addSubject/<%=date%>"><button class="square-button" id="add">+ 과목 추가</button></a>
                    </div>
                    <div class="label">
                        <span id="subject_code" onclick="navigateScoreSortAndOrder('subject_code')">과목 코드</span>
                        <span id="subject_name" onclick="navigateScoreSortAndOrder('subject_name')">과목 명</span>
                        <span id="academic_credit" onclick="navigateScoreSortAndOrder('academic_credit')">학점</span>
                        <span id="grade" onclick="navigateScoreSortAndOrder('grade')">획득 평점</span>
                        <span>정보 수정</span>
                    </div>
                </div>
                <div class="content-body">
                    <% scores.forEach(function(score) { %>
                        <article>
                            <p><%= score.subject_code %></p>
                            <p><%= score.subject_name %></p>
                            <p><%= score.academic_credit %></p>
                            <p class="grade"><%= score.grade %></p>
                            <button class="edit-button">수정</button>
                        </article>
                    <% }); %>
                </div>
            </section>
            <section id="graduation-requirements">
                <div class="content-title">
                    <div>
                        <span id="graduated-filter" class="filter" onclick="navigateGraduatedFilter()"></span><span> 졸업 요건</span>
                    </div>
                    <div class="label">
                        <span id="graduated_subject_code" onclick="navigateGraduatedSortAndOrder('subject_code')">과목 코드</span>
                        <span id="graduated_subject_name" onclick="navigateGraduatedSortAndOrder('subject_name')">과목 명</span>
                        <span id="graduated_academic_credit" onclick="navigateGraduatedSortAndOrder('academic_credit')">학점</span>
                        <span id="graduated_grade" onclick="navigateGraduatedSortAndOrder('grade')">획득 평점</span>
                        <span id="graduated_completion_status" onclick="navigateGraduatedSortAndOrder('completion_status')">이수 상태</span>
                    </div>
                </div>
                <div class="content-body">
                    <% graduatedList.forEach(function(graduatedItem) { %>
                        <article>
                            <p><%= graduatedItem.subject_code %></p>
                            <p><%= graduatedItem.subject_name %></p>
                            <p><%= graduatedItem.academic_credit || '-' %></p>
                            <p class="grade"><%= (graduatedItem.grade !== null && graduatedItem.grade !== undefined) ? graduatedItem.grade : '-' %></p>
                            <p class="completion_status"><%= graduatedItem.completion_status %></p>
                        </article>
                    <% }); %>
                </div>
            </section>
            <section id="comprehensive-information">
                <p>➜ ~ 목표 평균 평점</p>
                <p><%=userName%>님께서 설정하신 목표 평균 평점은 "<%=GraduatedTargetAverageGrade%>"입니다.</p>
                <br>
                <p>➜ ~ 전학기 평균 평점</p>
                <p> <%=userName%>님의 전학기 평균 평점은 "<%=avgScore%>"입니다.</p>
                <br>
                <p>➜ ~ <span class="date"></span> 평균 평점</p>
                <p><%=userName%>님의 <span class="date"></span> 평균 평점은 "<%=semesterAvgScore%>"입니다.</p>
                <br>
                <p>➜ ~ 현재 총 수강 과목 수</p>
                <p><%=userName%>님께서 총 수강하신 과목 수는 "<%=listenSubjectCount%>"개 입니다.</p>
            </section>
        </div>
    </div>
</body>
</html>